<div *ngIf="!loading" class="container-fluid">
  <div class="tile">
    <div class="ui-g">
      <div class="ui-g-12">
        <h1>Query: "{{projectService.activeProject.name}}"</h1>
      </div>
    </div>
    <hr>
    <div style="text-align: left">
      <div class="ui-g">
        <div class="ui-g-3">
          <h3>Topic:</h3>
        </div>
        <div class="ui-g-9">
      <textarea id="topic" [rows]="5" [cols]="120" pInputTextarea [(ngModel)]="query.topic"
                autoResize="autoResize"></textarea>
        </div>
      </div>
      <div class="ui-g">
        <div class="ui-g-3">
          <h3>Author Names:</h3>
        </div>
        <div class="ui-g-9">
      <textarea id="authorName" [rows]="2" [cols]="120" pInputTextarea [(ngModel)]="query.author_name"
                autoResize="autoResize"></textarea>
        </div>
      </div>
      <div class="ui-g">
        <div class="ui-g-3">
          <h3>Author IDs:</h3>
        </div>
        <div class="ui-g-9">
      <textarea id="authorId" [rows]="2" [cols]="120" pInputTextarea [(ngModel)]="query.author_id"
                autoResize="autoResize"></textarea>
        </div>
      </div>
      <div class="ui-g">
        <div class="ui-g-3">
          <h3>Affiliation IDs:</h3>
        </div>
        <div class="ui-g-9">
      <textarea id="affiliationId" [rows]="2" [cols]="120" pInputTextarea [(ngModel)]="query.affiliation_id"
                autoResize="autoResize"></textarea>
        </div>
      </div>
      <div class="ui-g">
        <div class="ui-g-3">
          <h3>Subject Area:</h3>
        </div>
        <div class="ui-g-9">
      <textarea id="subject" [rows]="2" [cols]="120" pInputTextarea [(ngModel)]="query.subject"
                autoResize="autoResize"></textarea>
        </div>
      </div>
      <div class="ui-g">
        <div class="ui-g-3">
          <h3>Title:</h3>
        </div>
        <div class="ui-g-9">
      <textarea id="title" [rows]="2" [cols]="120" pInputTextarea [(ngModel)]="query.title"
                autoResize="autoResize"></textarea>
        </div>
      </div>
      <div class="ui-g">
        <div class="ui-g-3">
          <h3>Timerange:</h3>
        </div>
        <div style="display: flex;" class="ui-g-2">
          <input style="vertical-align: bottom;" id="start_year" type="text" pInputText [(ngModel)]="query.start_year"/>
        </div>
        <div class="ui-g-1">
          <h3> to </h3>
        </div>
        <div style="display: flex;" class="ui-g-6">
          <input id="end_year" type="text" pInputText [(ngModel)]="query.end_year"/>
        </div>
      </div>
      <div class="ui-g">
        <div class="ui-g-3">
          <h3>Upload test entries</h3>
        </div>
        <div class="ui-g-6">
          <p-fileUpload name="test-file" url="{{uploadUrl}}"></p-fileUpload>
        </div>
      </div>
      <div class="ui-g">
        <div class="ui-g-3">
          <h3>Actions:</h3>
        </div>
        <div class="ui-g-2">
          <button pButton type="button" class="ui-button-danger" label="Save" icon="fa-save"
                  (click)="save()"></button>
        </div>
        <div class="ui-g-2">
          <button [disabled]="!projectService.activeProject.is_query_defined" pButton type="button"
                  class="ui-button ui-button-danger" label="See Scopus search" icon="fa-run"
                  (click)="getScopusSearchString()"></button>
        </div>
        <div class="ui-g-2">
          <button [disabled]="!projectService.activeProject.is_query_defined" pButton type="button"
                  class="ui-button-danger" label="run query" icon="fa-forward"
                  (click)="runQuery()"></button>
        </div>
        <div *ngIf="isQueryRunning" class="ui-g">
          <div class="ui-g-12">
            <p-progressBar [value]="progress"></p-progressBar>
          </div>
          <div class="ui-g">
          <p *ngIf="status.total != 0 && isQueryRunning">processing {{status.progress}} of {{status.total}}
            publications </p>
          </div>
        </div>
        <div class="ui-g-2">
          <button [disabled]="!projectService.activeProject.is_query_run" pButton type="button" class="ui-button-danger"
                  label="see results"
                  icon="fa-forward"
                  [routerLink]="['/results', query_id]"></button>
        </div>
      </div>
    </div>
  </div>
</div>
