<div class="container-fluid">
  <div *ngIf="!busy" class="ui-g">
    <div class="ui-g-6">
      <div class="tile">
        <h2>New query</h2>
        <p>Type in a short title for the query.</p>
        <span class="ui-float-label">
        <input id="username-input" type="text" size="30" pInputText [(ngModel)]="new_project"
               [ngModelOptions]="{standalone: true}" autofocus class="form-control">
        <label for="username-input">Short name</label>
        <button pButton type="button" label="Create" class="ui-button-success" (click)="createProject()"></button>
      </span>
      </div>
    </div>
    <div class="ui-g-6">
      <div class="tile">
        <h2>Continue with query</h2>
        <p>Select one of the already defined queries</p>
        <p-dropdown [options]="projects" [(ngModel)]="projectService.activeProject" placeholder="Select a Project" optionLabel="name" [showClear]="true"></p-dropdown>
        <button pButton type="button" label="Go to query" class="ui-button-success" [routerLink]="['/queries', projectService.activeProject.project_id]"></button>
      </div>
    </div>
  </div>
</div>
