<div class="content-start">
<div class="jumbotron">
  <h1><a href="https://aurora-network.global/"><img src="../assets/img/aurora-logo.png"> </a> :: Query Excutor</h1>
</div>
<div class="container-fluid">
  <div *ngIf="!busy" class="ui-g">
    <div class="ui-g-5 ui-g-offset-1">
      <div class="tile centered">
        <h2>New query</h2>
        <p>Type in a short title for the query, then press "Create".</p>
        <span class="ui-float-label">
        <input id="username-input" type="text" size="30" pInputText [(ngModel)]="new_project"
               [ngModelOptions]="{standalone: true}" autofocus class="form-control">
        <label for="username-input">Short name</label>
        <button pButton type="button" label="Create" class="ui-button-success" (click)="createProject()"></button>
      </span>
      </div>
    </div>
    <div class="ui-g-5">
      <div class="tile centered">
        <h2>Continue with query</h2>
        <p>Select one of the already defined queries, the press "Go to query"</p>
        <p-dropdown filter="true" [options]="projects" [(ngModel)]="projectService.activeProject" placeholder="Select a Project" optionLabel="name" [showClear]="true" (onChange)="router.navigate(['/queries', projectService.activeProject.project_id])"></p-dropdown>
        <button pButton type="button" label="Go to query" class="ui-button-success" [routerLink]="['/queries', projectService.activeProject.project_id]"></button>
      </div>
    </div>
  </div>
</div>
</div>
<footer class="footer-start">
  <p>The project <a class="footer-link" href="https://aurora-network.global/project/sdg-analysis-bibliometrics-relevance/">SDG analysis: bibliometrics of relevance</a> is part of the <a class="footer-link" href="https://aurora-network.global/"> Aurora Universities Network</a>  --- <a class="footer-link" href="/assets/static/project.html">Learn more</a> ---</p>
</footer>
