.tile {
  background-color: #49B05C;
  float: left;
  opacity: 0.9;
  color: #ffffff;
  border-radius: 25px;
  height: 100%;
  width: 100%;
  padding: 10px;
  vertical-align: middle;
  text-align:center;

}
.tile-top {
  border-radius: 25px 25px 0px 0px;
}

.tile-bottom {
  border-radius: 0px 0px 25px 25px;
}

.ui-button {
  height: 50px;
  padding: 10px;
  font-size: x-large;
}
